body.site {
    margin: 0px;
    background-image: url("img/abstract-1850424_1920.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body.site #layout {
    margin-left: 7%;
}
body.site * {box-sizing: border-box; }
body.site #grid-container {
    /* background: rgb(0, 150, 208);  */
    display: inline-grid; 
    height: 1320px; 
    grid-template-columns: 200px 800px 200px; 
    grid-template-rows: 100px 50px 1100px 50px; 
    grid-column-gap: 5px; 
    grid-row-gap: 5px; 
    align-content: center; 
}
body.site #grid-container > div {
    background: rgb(241, 101, 41); 
    border: 1px solid; 
    margin: 0px; 
    padding: 5px; 
}
body.site #grid-container > div:nth-of-type(1) {
    width: 1210px; 
    grid-column-start: 1; 
    grid-column-end: 4; 
}
body.site #grid-container > div:nth-of-type(2) {
    grid-column-start: 1; 
    grid-column-end: 4; 
    width: 1210px; 
}
/* 
body.site #grid-container > div:nth-of-type(3) {

}
body.site #grid-container > div:nth-of-type(4) {

} 
*/
body.site #grid-container > div:nth-of-type(6) {
    width: 1210px; 
}

body.site .news {
    border: 1px solid black;
    width: 750px;
    height: 300px;
    margin: auto;
    border-radius: 5px;
}
